<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="workflow.business.mapper.UnreleaseProcessMapper">

	<select id="listForPage" resultType="workflow.business.model.entity.UnreleaseProcessEntity">
		SELECT
			`process_id`,
			`process_key`,
			`sub_id`,
			`sub_key`
		FROM
			wf_unrelease_process
		WHERE
			`process_id` = #{process_id}
		ORDER BY
			sub_id ASC
	</select>

	<insert id="save">
		INSERT INTO wf_unrelease_process (
			`process_id`,
			`process_key`,
			`sub_id`,
			`sub_key`
		)
		VALUES (
			#{processId},
			#{processKey},
			#{subId},
			#{subKey}
		)
	</insert>

	<select id="getObjectById" resultType="workflow.business.model.entity.UnreleaseProcessEntity">
		SELECT
			`process_id`,
			`process_key`,
			`sub_id`,
			`sub_key`
		FROM
			wf_unrelease_process
		WHERE
			process_id = #{processId}
	</select>

	<update id="update">
		UPDATE wf_unrelease_process
	 	<set>
			<if test="processKey != null">`process_key` = #{processKey}, </if>
			<if test="subId != null">`sub_id` = #{subId}, </if>
			<if test="subKey != null">`sub_key` = #{subKey}</if>
		</set>
		WHERE
			process_id = #{processId}
	</update>

	<delete id="batchRemove">
		DELETE
		FROM
			wf_unrelease_process
		WHERE
			process_id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<delete id="remove">
		DELETE FROM wf_unrelease_process WHERE process_id=#{id}
	</delete>

</mapper>
