<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="smartform.form.mapper.FormCategoryMapper">

	<select id="listForPage" resultType="smartform.form.model.FormCategory">
		SELECT
			`id`,
			`name`,
			`sort`,
			`code`,
			`parent_id`,
			`category_type`,
			`created_at`,
			`modified_at`
		FROM
			form_category
        <where>
            <if test="categoryType != null">
                `category_type` = #{categoryType}
            </if>
        </where>
		ORDER BY
			sort ASC,
            created_at ASC
	</select>

	<select id="categoryList" resultType="smartform.form.model.FormCategory">
		SELECT
			`id`,
			`name`,
			`sort`,
			`code`,
			`parent_id`,
			`category_type`,
			`created_at`,
			`modified_at`
		FROM
			form_category
		WHERE
			code IN
		<foreach item="code" collection="list" open="(" separator="," close=")">
			#{code}
		</foreach>
	</select>

	<insert id="save">
		INSERT INTO form_category (
			`id`,
			`name`,
			`category_type`,
			<if test="sort != null">`sort`, </if>
			<if test="parentId != null">`parent_id`, </if>
			<if test="code != null">`code`, </if>
			`created_at`,
			`modified_at`
		)
		VALUES (
			#{id},
			#{name},
			#{categoryType},
			<if test="sort != null">#{sort}, </if>
			<if test="parentId != null">#{parentId}, </if>
			<if test="code != null">#{code}, </if>
			#{createdAt},
			#{modifiedAt}
		)
	</insert>

	<select id="getObjectById" resultType="smartform.form.model.FormCategory">
		SELECT
			`id`,
			`name`,
			`category_type`,
			`sort`,
			`code`,
			`parent_id`,
			`created_at`,
			`modified_at`
		FROM
			form_category
		WHERE
			id = #{id}
	</select>

	<update id="update">
		UPDATE form_category
	 	<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="sort != null">`sort` = #{sort}, </if>
			<if test="code != null">`code` = #{code}, </if>
			<if test="parentId != null">`parent_id` = #{parentId}, </if>
			<if test="createdAt != null">`created_at` = #{createdAt}, </if>
			<if test="modifiedAt != null">`modified_at` = #{modifiedAt}</if>
		</set>
		WHERE
			id = #{id}
	</update>

	<delete id="batchRemove">
		DELETE
		FROM
			form_category
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>
